/*khmer font*/
@font-face {
    font-family: 'Battambang';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Battambang.woff2) format('woff2');
    unicode-range: U+1780-17FF, U+200B-200C, U+25CC;
}
@font-face {
    font-family: 'Battambang';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Battambang-Bold.woff2) format('woff2');
    unicode-range: U+1780-17FF, U+200B-200C, U+25CC;
}
body {
    font-family: 'Battambang', Serif, "Helvetica-Neue", Helvetica, Arial, sans-serif !important;
    line-height: 1.7;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../img/ds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
